<footer class="footer">
  <div class="footer__container">
    <ul class="list footer__nav">
      <li class="nav__item">
        About Us
        <svg width="7px" height="12px" class="nav__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="nav__item">
        Categories
        <svg width="7px" height="12px" class="nav__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="nav__item">
        Help
        <svg width="7px" height="12px" class="nav__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="nav__item">
        Payments & Delivery
        <svg width="7px" height="12px" class="nav__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>

    <div class="footer__social">
      <ul class="list social__list">
        <li>
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-snapchat"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__copyright">
        &copy; Copyright, AELTC 2019. All Rights reserved.
      </p>
    </div>
  </div>
</footer>
