<footer class="footer">
  <div class="footer__container">
    <ul class="list footer__nav">
      <li class="nav__item">
        <div class="nav__menu-item">
          <span class="nav__menu-title">About Us</span>

          <svg width="7px" height="12px" class="nav__icon">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>

        <ul class="list submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Who we are</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Our stores</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Customer Reviews</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <div class="nav__menu-item">
          <span class="nav__menu-title">Categories</span>

          <svg width="7px" height="12px" class="nav__icon">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>

        <ul class="list submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Women fashion</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Accessories</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Kids</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <div class="nav__menu-item">
          <span class="nav__menu-title">Help</span>

          <svg width="7px" height="12px" class="nav__icon">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>

        <ul class="list submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Customer service</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Size guide</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Contact us</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <div class="nav__menu-item">
          <span class="nav__menu-title">Payments & Delivery</span>

          <svg width="7px" height="12px" class="nav__icon">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>

        <ul class="list submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Purchase terms</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Guarantee</a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item-social">
        <div class="nav__menu-item">
          <span class="nav__menu-title">Social</span>
        </div>
        <ul class="list social__list">
          <li class="social__item">
            <a href="">
              <svg width="19px" height="19px" class="social__icon">
                <use href="./images/symbol-defs.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="">
              <svg width="19px" height="19px" class="social__icon">
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="">
              <svg width="19px" height="19px" class="social__icon">
                <use href="./images/symbol-defs.svg#icon-snapchat"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="">
              <svg width="19px" height="19px" class="social__icon">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="">
              <svg width="19px" height="19px" class="social__icon">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer__social">
      <ul class="list social__list">
        <li class="social__item">
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-snapchat"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg width="19px" height="19px" class="social__icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p class="footer__copyright">
    &copy; Copyright, AELTC 2020. All Rights reserved.
  </p>
</footer>
