<section class="signup-section">
  <h2 class="visually-hidden">SignUp form</h2>
  <div class="container">
    <form name="signup">
      <p class="signup__content">
        New arrivals. Exclusive previews. First access to sales. Sign up to stay
        in the know.
      </p>

      <div class="form-input">
        <input
          class="signup__input"
          type="email"
          name="user-email"
          placeholder="Your email address"
        />
        <button class="signup__button" type="submit">register</button>
      </div>
    </form>
  </div>
</section>
