.footer {
  padding-top: 16px;
  padding-bottom: 23px;

  background-color: #f7f7f7;
}

.footer__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer__nav {
  margin-bottom: 24px;

  font-family: 'CormorantGaramond';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 1.16px;
}

.nav__item {
  height: 32px;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 13px;

  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-bottom: 1px solid #e1e0e1;

  transition: height 0.4s ease;

  // &:hover {
  //   height: 128px;
  // }

  // &:hover .nav__icon {
  //   rotate: 90deg;
  // }

  &.submenu--open {
    height: 128px;

    .nav__icon {
      rotate: 90deg;
    }

    .submenu {
      display: block;
    }
  }
}

.nav__menu-item {
  margin-bottom: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.nav__icon {
  fill: #000000;

  transition: rotate 0.4s ease;
}

.submenu {
  display: none;
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__link {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.1px;

  color: #000000;
}

.social__list {
  width: 185px;
  height: 19px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
}

.social__icon {
  fill: #000000;
}

.footer__copyright {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.55;

  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}
