.footer {
  padding-top: 16px;
  padding-bottom: 23px;

  background-color: #f7f7f7;

  @media screen and(min-width:768px) {
    padding-top: 26px;
    padding-bottom: 14px;
  }
}

.footer__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
  }
}

.footer__nav {
  margin-bottom: 24px;

  font-family: 'CormorantGaramond';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 1.16px;

  @media screen and(min-width:768px) {
    width: 100%;
    max-width: 891px;

    display: flex;
    justify-content: space-between;
  }
}

.nav__item {
  padding-bottom: 13px;

  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition: height 0.4s ease;

  &.submenu--open {
    height: 128px;

    .nav__icon {
      rotate: 90deg;
    }

    .submenu {
      display: block;
    }
  }

  @media screen and(max-width:767px) {
    height: 32px;

    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 1px solid #e1e0e1;
  }
}

.nav__item-social {
  display: none;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.nav__menu-item {
  margin-bottom: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width:768px) {
    
    cursor: pointer;
  }
}

.nav__menu-title {
  @media screen and(min-width:768px) {
    max-width: 146px;
  }
}

.nav__icon {
  fill: #000000;

  transition: rotate 0.4s ease;

  @media screen and(min-width:768px) {
    display: none;
  }
}

.submenu {
  display: none;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__link {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.1px;

  color: #000000;
}

.footer__social {
  @media screen and(min-width:768px) {
    display: none;
  }
}

.social__list {
  
  height: 19px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 24px;

  @media screen and(min-width:768px) {
    margin-right: 16px;
  }
}

.social__icon {
  fill: #000000;
}

.footer__copyright {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.55;

  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}
