.footer {
  padding-top: 16px;
  padding-bottom: 23px;

  background-color: #f7f7f7;
}

.footer__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer__nav {
  margin-bottom: 24px;

  font-family: 'CormorantGaramond';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 1.16px;
}

.nav__item {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 13px;

  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e1e0e1;
}

.nav__icon {
  fill: #000000;
}

.social__list {
  width: 185px;
  height: 19px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
}

.social__icon {
  fill: #000000;
}

.footer__copyright {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.55;

  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}
