.header {
}

.header-top__bar {
  display: none;

  padding-top: 4px;
  padding-bottom: 3px;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 0.8px;

  color: #000000;

  @media screen and(min-width:768px) {
    display: block;
    width: 100%;
    height: 24px;
  }
}


.header__container {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 25px;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.389314) 0%,
    rgba(21, 21, 21, 0.209901) 33.39%,
    rgba(0, 0, 0, 0.0001) 95.04%
  );
  mix-blend-mode: normal;

  transition: background-color 0.5s linear;

  &:hover {
    background: #ffffff;
  }

  &:hover .icon-menu,
  &:hover .icon-search,
  &:hover .icon-basket,
  &:hover .icon-site-logo,
  &:hover .header-search__icon,
  &.header--fixed .header-search__icon {
    fill: #000000;
  }

  &:hover .search-form__input--desktop,
  &.header--fixed .search-form__input--desktop {
    opacity: 1;
  }

  &:hover .user-state,
  &:hover .user__button,
  &.header--fixed .user-state,
  &.header--fixed .user__button,
  &:hover .header-nav-desktop__link,
  &.header--fixed .header-nav-desktop__link {
    color: #000000;
  }

  @media screen and(min-width:768px) {
    padding-top: 24px;

    top: 24px;
  }
}

.header--fixed {
  position: fixed;

  background: #ffffff;

  z-index: 2;
  top: 0;
  width: 100%;

  .icon-menu,
  .icon-search,
  .icon-basket,
  .icon-site-logo {
    fill: #000000;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(min-width:768px) {
    margin-bottom: 24px;
  }
}

.nav-buttons {
  display: flex;

  @media screen and(min-width:768px) {
    display: none;
  }
}

.nav-buttons :first-child {
  margin-right: 16px;
}

.header-menu__button {
  display: block;

  width: 20px;
  height: 15px;

  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  background-color: transparent;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.icon-menu {
  fill: #ffffff;
}

.header-search__button {
  display: block;

  width: 18px;
  height: 18px;

  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  background-color: transparent;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.icon-search {
  fill: #ffffff;
}

.icon-close {
  fill: #000000;
}

.icon-site-logo {
  fill: #ffffff;
  fill-opacity: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.user-state {
  display: none;

  height: 24px;

  color: #ffffff;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.user__button {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.45;

  color: #ffffff;
  background-color: transparent;
  border: none;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.shopping-cart__link {
  margin-right: 8px;
}

.icon-basket {
  fill: #ffffff;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.items-quantity {
  width: 22px;
  height: 22px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.45;

  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #000000;
  background: #f2da91;
}

.search-form {
  display: none;

  width: 328px;

  position: relative;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    height: 48px;
  }

  @media screen and(min-width:900px) {
    width: 582px;
  }
}

.search-form__desktop {
  display: none;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.search-close {
  display: none;
}

.search-open {
  display: block;
}

.search-form__input {
  width: 100%;
  height: 100%;

  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 11px;
  padding-left: 12px;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.8px;

  color: #000000;

  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  border-radius: 3px;

  &::placeholder {
    opacity: 1;
  }
}

.search-form__input--desktop {
  opacity: 0.24;
}

.header-search__icon {
  position: absolute;
  top: 50%;
  right: 12px;

  fill: #000000;

  transform: translateY(-50%);

  @media screen and(min-width:768px) {
    fill: #ffffff;
  }
}

.header-nav__desktop {
  display: none;

  @media screen and(min-width:768px) {
    display: block;

    width: 641px;

    margin-right: auto;
    margin-left: auto;
  }
}

.header-nav-desktop__list {
  display: flex;
  justify-content: space-between;
}

.header-nav-desktop__link {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
