.hero {
  min-width: 360px;

  height: 555px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: 65%;
  background-size: cover;
}
